body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: rgb(215, 236, 254);
}

h1 {
    color: aliceblue;
    text-align: center;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    margin-top: 3rem;
    height: 100%;
}

.header {
    background-color: rgb(35, 104, 164);
    padding: 20px;
}

.input-box {
    background-color: rgb(215, 236, 254);
    color: aliceblue;
    margin: 10px;
}

.person-1, .person-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    background-color: rgb(35, 104, 164);
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
}

